h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}
p, span {
    font-family: 'Open Sans', sans-serif;
}

.pictureBackground {
    background-image: url("/Picture/SpiderWeb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    text-align: center;
}

.descriptionPart {
    text-align: center;
}

.boldText {
    font-weight: bold;
}

.italicText {
    font-style: italic;
}

.projectTitle {
    color: #000000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.emailUser, .phoneUser, .introContactForm {
    font-weight: bold;
}

.skillPicture {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
