{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/homePage.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col s12 pictureBackground">
                <h1 class="textColor">Clélia MANDONNET</h1>
                <h4>Développeuse Web Junior PHP/Symfony</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row descriptionPart">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

{% endblock %}
