{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" href="/css/homePage.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col s12 pictureBackground">
                <h1 class="textColor">Clélia MANDONNET</h1>
                <h4>Développeuse Web Junior PHP/Symfony</h4>
            </div>
        </div>
    </div>


{% endblock %}
