{% extends 'baseAdmin.html.twig' %}

{% block title %}PF Project{% endblock %}

{% block body %}
    <h1>Création d'un projet</h1>

    {{ include('AdminInterface/project/_form.html.twig') }}

    <a href="{{ path('project_index') }}" class="waves-effect waves-light btn-small blue lighten-2">Retour</a>
{% endblock %}
