<nav>
    <div class="nav-wrapper">
        <a href="{{ path('admin_index') }}" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
            <li><a href="{{ path('education_index') }}">Formations</a></li>
            <li><a href="#">Expériences</a></li>
            <li><a href="#">Compétences</a></li>
            <li><a href="#">Projets</a></li>
        </ul>
    </div>
</nav>
