{% extends 'baseAdmin.html.twig' %}

{% block title %}PF User{% endblock %}

{% block body %}
    <h1>Création d'un utilisateur</h1>

    {{ include('AdminInterface/user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="waves-effect waves-light btn-small blue lighten-2">Retour</a>
{% endblock %}
